## CONVERT THE CSV INTO HTML

* Sample taken October 8th, 2019
* Weatherpy Homework 
* Ricardo Reynoso Ramos

In [1]:
import pandas as pd

In [4]:
weatherdf = pd.read_csv("weather_df.csv",header=0, parse_dates=False)   
weatherdf.reset_index(drop=True, inplace=True)
weatherdf.head(10)

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,constitucion,20,MX,1570643084,43,23.99,-104.67,75.00,3.36
1,bredasdorp,32,ZA,1570643076,50,-34.53,20.04,51.80,4.70
2,punta arenas,20,PH,1570643059,78,14.18,121.12,81.00,2.24
3,fort-shevchenko,55,KZ,1570643452,76,44.51,50.26,55.13,6.80
4,souillac,20,FR,1570643167,67,45.60,-0.60,63.00,9.17
5,iquira,75,CO,1570643453,57,2.65,-75.64,80.60,4.70
6,mys shmidta,95,RU,1570643256,97,62.06,48.62,31.91,5.57
7,fayaoue,27,NC,1570643454,81,-20.65,166.53,72.41,9.16
8,keetmanshoop,0,NaN,1570643455,24,-26.57,18.15,71.60,16.11
9,albany,75,US,1570643094,55,42.65,-73.75,62.01,5.82

In [7]:
Html_file= open("weather_df.csv","w")
Html_file.write("weatherhtml")
Html_file.close()

NameError: name 'html_str' is not defined